//主要颜色
$c-color-primary:#425069 !default;
//次要颜色
$c-color-secondary:#2e384a !default;
//头部阴影
$c-header-shadow: 1px 2px 6px rgba(0, 0, 0, 0.03) !default;
//深色
$c-color-deep:#0a7bb9 !default;
//次要灰色
$c-color-gray-secondary:#fafafa !default;
//图片阴影
$c-img-shadow: 1px 2px 6px rgba(0, 0, 0, 0.05) !default;
//主要灰色
$c-color-gray-primary:#f2f2f2 !default;
//白灰色
$c-color-white-gray:#f6f7f8 !default;
//白色
$c-color-white:#ffffff !default;
//深灰色
$c-color-gray-deep:#eeeeee !default;
//主要黑色
$c-color-black-primary:#333333 !default;
//金黄色
$c-color-gold:gold !default;
//浅色
$c-color-light:#5bc0de !default;

